.scene{
    background: linear-gradient(180deg, #080437 3.65%, #191768 100%);
    position:relative;
    width:100%;
    padding:100px
  } 
  
  .person{
          position: relative;
          /* animation-name: slide; */
          animation-duration: 20s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
      }
  
      .head {
          position: relative;
          left: 10px;
          top:30px;
          content:url('https://raw.githubusercontent.com/mittonp/dataviznf/master/head.svg');
          /* animation-name: nod; */
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-timing-function:ease-in-out;
          transform-origin: bottom left;
      }
  
      .torso{
          content:url('https://raw.githubusercontent.com/mittonp/dataviznf/master/torso.svg');
          animation-name: breathe;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in;
          transform-origin: bottom left;
          position:relative;
          left:-4px;
      }

      .arm{
        content:url('https://raw.githubusercontent.com/mittonp/dataviznf/master/arm.svg');
        position:absolute;
        top:154px;
        left:52px;
        animation-name: movearm;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        transform-origin: center left;
    }

    .legs{
        content:url('https://raw.githubusercontent.com/mittonp/dataviznf/master/legs.svg');
    }
  
      @keyframes nod {
          0% {
              transform: rotate(0);
          }
  
          25% {
              transform: rotate(10deg);
          }
  
          75%{
              transform: rotate(-10deg);
          }
  
          99%{
              transform: rotate(0);
          }
      }

      @keyframes slide{
          0%{
              left: 0%;
          }

          50%{
              left:50%
          }
          100%{
              left:0;
          }
      }

      @keyframes breathe{
          0%{
              transform: scale(1,1);
          }
          25%{
              transform: scale(1.03,1);
          }
          75%{
              transform: scale(1,1) ;
          }
      }

      @keyframes movearm{
          0%{
              transform: rotate(0);
          }
          25%{
              transform: rotate(10deg);
          }

          75%{
              transform: rotate(-10deg)
          }

          100%{
              transform: rotate(0);
          }
      }